doctype html
html(lang="en")
    head
        include Common/Bootstrap.pug
        title Document
    body
        .card.w-50.m-5.p-5
            h1 SignUp form
            .card-body
                form
                    .form-floating.mb-4
                        input.form-control(type="text", id="ETX_EMAIL", placeholder="name@xyz.com")
                        label(for="ETX_EMAIL") User Name
                    .form-floating.mb-4
                        input.form-control(type="email", id="ETX_EMAIL", placeholder="name@xyz.com")
                        label(for="ETX_EMAIL") Email address
                    .form-floating.mb-4
                        input.form-control(type="password", id="ETX_PASSWORD", placeholder="Password")
                        label(for="ETX_PASSWORD") Password
                    .form-floating.mb-4
                        input.form-control(type="text", id="ETX_PASSWORD", placeholder="Password")
                        label(for="ETX_PASSWORD") Address
                    a(href="/login").btn.btn-primary login
                    a(href="/signup").btn.btn-danger.m-3 signup
